<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="sender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host">
			<value>smtp.139.com</value>
		</property>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.timeout">250000</prop>
				<prop key="mail.debug">true</prop>
			</props>
		</property>
		<property name="username">
			<value>13922861673@139.com</value>
		</property>
		<property name="password">
			<value>2011$aspire</value>
		</property>
	</bean>
	<bean id="sysInfoService" class="com.huacainfo.ace.portal.service.impl.SysInfoServiceImpl">
		<property name="sender">
			<ref local="sender" />
		</property>
		<property name="from">
			<value>13922861673@139.com</value>
		</property>
	</bean>
</beans>
