<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-4.0.xsd "
	default-autowire="byName">
	<!--  
	<bean id="resoureRoleAop" class="com.huacainfo.ace.portal.aop.ResoureRoleAdvisor">
		<property name="redisTemplateString" ref="redisTemplateString" />
	</bean>
	<bean id="resoureRoleAopAdvisor"
		class="com.huacainfo.ace.common.monitor.AspireRegexpMethodPointcutAdvisor">
		<property name="advice" ref="resoureRoleAop" />
		<property name="pattern">
			<value>${security.resoureRoleAdvisor.pattern}</value>
		</property>
	</bean>-->
	<bean id="flushResourceRoleAop"
		class="com.huacainfo.ace.portal.aop.FlushResourceRoleAdvisor">
		<property name="securityLoadResouceDefine" ref="resourcesService"/>
		<property name="redisTemplateString" ref="redisTemplateString" />
	</bean>
	<bean id="flushResourceRoleAopAdvisor"
		class="com.huacainfo.ace.common.monitor.AspireRegexpMethodPointcutAdvisor">
		<property name="advice" ref="flushResourceRoleAop" />
		<property name="pattern">
			<value>
				${security.flushResourceRoleAdvisor.pattern}
			</value>
		</property>
	</bean>
	<bean
		class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />

</beans>