<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	<context:annotation-config />
	<bean id="defaultCookieSerializer"
		class="org.springframework.session.web.http.DefaultCookieSerializer">
		<property name="cookiePath" value="${spring.session.cookiePath}" />
	</bean>
	<bean id="cookieHttpSessionStrategy"
		class="org.springframework.session.web.http.CookieHttpSessionStrategy">
		<property name="cookieSerializer" ref="defaultCookieSerializer" />
	</bean>
	<bean id="redisFlushModeImmediate"
		class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
		<property name="staticField"
			value="org.springframework.session.data.redis.RedisFlushMode.IMMEDIATE" />
	</bean>
	<bean id="redisHttpSessionConfiguration"
		class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration">
		<property name="maxInactiveIntervalInSeconds" value="${spring.session.maxInactiveIntervalInSeconds}" />
		<property name="redisNamespace" value="portal" />
		<property name="redisFlushMode" ref="redisFlushModeImmediate" />
		<!-- <property name="defaultRedisSerializer" ref="hessian2RedisSerializer"></property> -->
		<property name="httpSessionStrategy" ref="cookieHttpSessionStrategy" />
	</bean>
</beans>