<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-4.0.xsd "
	default-autowire="byName">
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass">
			<value>${dao.db.driverClassName}</value>
		</property>
		<property name="jdbcUrl">
			<value>${dao.db.url}</value>
		</property>
		<property name="user">
			<value>${dao.db.username}</value>
		</property>
		<property name="password">
			<value>${dao.db.password}</value>
		</property>
		<property name="initialPoolSize">
			<value>${dao.db.initialPoolSize}</value>
		</property>
		<property name="maxPoolSize">
			<value>${dao.db.maxActive}</value>
		</property>
		<property name="preferredTestQuery">
			<value>${dao.db.preferredTestQuery}</value>
		</property>
		<property name="idleConnectionTestPeriod">
			<value>${dao.db.idleConnectionTestPeriod}</value>
		</property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryName" />
		<property name="processPropertyPlaceHolders" value="true" />
		<property name="basePackage" value="${dao.mybatis.scanner.basePackage}" />
	</bean>
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="sqlSessionFactoryName" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation"
			value="${dao.mybatis.sqlSessionFactory.configLocation}" />
	</bean>
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactoryName"></constructor-arg>
	</bean>
	<bean id="lobHandler" lazy-init="true"
		class="org.springframework.jdbc.support.lob.DefaultLobHandler" />

	<!-- 配置事务特性，配置add，delete，update开始的方法，事务传播特性为required -->
	<tx:advice id="txServiceAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="insert*" propagation="REQUIRED" />
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="modify*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<tx:method name="deal*" propagation="REQUIRED" />
			<tx:method name="log*" propagation="REQUIRED" />
			<tx:method name="import*" propagation="REQUIRED" />
			<tx:method name="upload*" propagation="REQUIRED" />
			<tx:method name="start*" propagation="REQUIRED" />
			<tx:method name="complete*" propagation="REQUIRED" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	<!-- 配置事务特性，配置add，delete，update开始的方法，事务传播特性为MANDATORY -->
	<tx:advice id="txDaoAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="insert*" propagation="MANDATORY" />
			<tx:method name="add*" propagation="MANDATORY" />
			<tx:method name="delete*" propagation="MANDATORY" />
			<tx:method name="update*" propagation="MANDATORY" />
			<tx:method name="modify*" propagation="MANDATORY" />
			<tx:method name="save*" propagation="MANDATORY" />
			<tx:method name="remove*" propagation="MANDATORY" />
			<tx:method name="deal*" propagation="MANDATORY" />
			<tx:method name="log*" propagation="MANDATORY" />
			<tx:method name="start*" propagation="REQUIRED" />
			<tx:method name="complete*" propagation="REQUIRED" />
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	<!-- 哪些类的哪些方法参与事务 -->
	<aop:config>
		<aop:pointcut id="allDaoMethod" expression="${dao.transaction.dao.expression}" />
		<aop:pointcut id="allServiceMethod" expression="${dao.transaction.service.expression}" />
		<aop:advisor advice-ref="txDaoAdvice" pointcut-ref="allDaoMethod" />
		<aop:advisor advice-ref="txServiceAdvice" pointcut-ref="allServiceMethod" />
	</aop:config>
</beans>