<html>
<body>
<h3>您好 $!{o.name}, 欢迎您加入ACE!</h3>

<div style="font-size:16px">
    您的密码已重置成功，新的密码为：<span><strong> $!{o.newPasswd}</strong></span><br>
    本Email是系统自动发送，请勿回复！<br>
    $!{o.sysDate}
</div>
</body>

</html>