package com.huacainfo.ace.portal.service;

import java.util.List;
import java.util.Map;

import com.huacainfo.ace.common.model.UserProp;
import com.huacainfo.ace.common.model.view.Tree;
import com.huacainfo.ace.common.result.MessageResponse;
import com.huacainfo.ace.common.result.PageResult;
import com.huacainfo.ace.common.result.SingleResult;
import com.huacainfo.ace.portal.model.$!{bean.name};
import com.huacainfo.ace.portal.vo.$!{bean.name}Vo;

public interface $!{bean.name}Service {	
	public abstract PageResult<$!{bean.name}Vo> find$!{bean.name}List($!{bean.name}QVo condition, int start, int limit, String orderBy) throws Exception;
	public abstract MessageResponse insert$!{bean.name}($!{bean.name} obj,UserProp userProp) throws Exception;
	public abstract MessageResponse update$!{bean.name}($!{bean.name} obj,UserProp userProp) throws Exception;
	public abstract SingleResult<$!{bean.name}> select$!{bean.name}ByPrimaryKey(String id) throws Exception;
	public abstract MessageResponse delete$!{bean.name}By$!{bean.name}Id(String id,UserProp userProp) throws Exception;	
}
