<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-4.0.xsd "
	default-autowire="byName">
	<util:properties id="configProps" location="classpath:config.properties" />	<util:properties id="specialProps" location="classpath:special.properties" />
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config.properties</value>
				<value>classpath:special.properties</value>
				<value>classpath:dubbo.properties</value>
			</list>
		</property>
	</bean>
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass">
			<value>#{configProps['dao.db.driverClassName']}</value>
		</property>
		<property name="jdbcUrl">
			<value>#{configProps['dao.db.url']}</value>
		</property>
		<property name="user">
			<value>#{configProps['dao.db.username']}</value>
		</property>
		<property name="password">
			<value>#{configProps['dao.db.password']}</value>
		</property>
		<property name="initialPoolSize">
			<value>#{configProps['dao.db.initialPoolSize']}</value>
		</property>
		<property name="maxPoolSize">
			<value>#{configProps['dao.db.maxActive']}</value>
		</property>
		<property name="preferredTestQuery">
			<value>#{configProps['dao.db.preferredTestQuery']}</value>
		</property>
		<property name="idleConnectionTestPeriod">
			<value>#{configProps['dao.db.idleConnectionTestPeriod']}</value>
		</property>
	</bean>
	<import resource="classpath:dubbo/dubbo-ace-common-consumer.xml" />
	<import resource="classpath:dubbo/dubbo-ace-portal-consumer.xml" />
	<import resource="classpath:spring/spring-ace-common-fastdfs.xml" />
	<import resource="classpath:spring/spring-ace-common-monitor.xml" />
	<import resource="classpath:spring/spring-ace-common-web.xml" />
	<import resource="classpath:spring/spring-ace-common-kafka.xml" />
	<import resource="classpath:spring/spring-ace-common-redis.xml" />
</beans>