package com.huacainfo.ace.workflow.dao;

import java.util.List;
import java.util.Map;

import org.apache.ibatis.annotations.Param;
import com.huacainfo.ace.workflow.model.$!{bean.name};
import com.huacainfo.ace.workflow.vo.$!{bean.name}QVo;
import com.huacainfo.ace.workflow.vo.$!{bean.name}Vo;

public interface $!{bean.name}Dao {
    int deleteByPrimaryKey(String $!{bean.name}Id);

    int insert($!{bean.name} record);


    $!{bean.name} selectByPrimaryKey(String $!{bean.name}Id);


    int updateByPrimaryKey($!{bean.name} record);
    
    List<$!{bean.name}Vo> findList(@Param("condition") $!{bean.name}QVo condition,
			@Param("start") int start, @Param("limit") int limit,
			@Param("orderBy") String orderBy);

	int findCount(@Param("condition") $!{bean.name}QVo condition);

	int isExit($!{bean.name} record);
	
	List<Map<String,Object>> selectTreeList();
}